<section class="background py-5" style="background-color: #fff3cf;">
  <div class="container">
    <div class="card shadow-lg animate__animated animate__fadeIn">
      <div class="card-header bg-primary text-white">
        <i class="bi bi-check-lg"></i> Aggiungi una nuova ricetta
      </div>
      <div class="card-body">
        <form #form="ngForm" (ngSubmit)="submitForm()" novalidate>
          <div class="form-group mb-3">
            <label for="titolo" class="form-label"><i class="bi bi-pencil-square"></i> Titolo</label>
            <input type="text" class="form-control rounded-pill" id="titolo" placeholder="Inserisci il titolo della tua ricetta"
                   [(ngModel)]="ricetta.title" name="title" required #title="ngModel">
            <div *ngIf="title.invalid && (title.dirty || title.touched)" class="alert alert-warning mt-2">
              <i class="bi bi-exclamation-triangle"></i> Il titolo è obbligatorio.
            </div>
          </div>

          <div class="form-group mb-3">
            <label for="description" class="form-label"><i class="bi bi-card-text"></i> Descrizione (max 500 caratteri)</label>
            <textarea class="form-control" id="description" rows="3" [(ngModel)]="ricetta.description" name="description" maxlength="499" required #description="ngModel"></textarea>
            <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert alert-warning mt-2">
              <i class="bi bi-exclamation-triangle"></i> La descrizione è obbligatoria e deve essere inferiore a 500 caratteri.
            </div>
          </div>

          <div class="form-group mb-3">
            <label for="image" class="form-label"><i class="bi bi-image"></i> Carica Copertina</label>
            <input type="file" class="form-control rounded-pill" id="image" (change)="onImageSelected($event,1)">
            <div class="image-preview-container mt-3" *ngIf="ricetta.immagineUrl">
              <img [src]="ricetta.immagineUrl" alt="Anteprima Immagine" class="img-thumbnail">
            </div>
          </div>

          <div class="form-group mb-3">
            <label for="image2" class="form-label"><i class="bi bi-image"></i> Carica immagine</label>
            <input type="file" class="form-control rounded-pill" id="image2" (change)="onImageSelected($event, 2)">
            <div class="image-preview-container mt-3" *ngIf="ricetta.immagineUrl2">
              <img [src]="ricetta.immagineUrl2" alt="Anteprima Immagine" class="img-thumbnail">
            </div>
          </div>

          <div class="form-group mb-3">
            <label for="image3" class="form-label"><i class="bi bi-image"></i> Carica immagine</label>
            <input type="file" class="form-control rounded-pill" id="image3" (change)="onImageSelected($event, 3)">
            <div class="image-preview-container mt-3" *ngIf="ricetta.immagineUrl3">
              <img [src]="ricetta.immagineUrl3" alt="Anteprima Immagine" class="img-thumbnail">
            </div>
          </div>

          <div class="mb-3">
            <h5><i class="bi bi-list-ul"></i> Ingredienti</h5>
            <div *ngFor="let ingrediente of ricetta.listaIngredienti; let i = index" class="row align-items-center mb-3">
              <div class="col">
                <input type="text" class="form-control rounded-pill" [(ngModel)]="ingrediente.nome" placeholder="Nome dell'ingrediente" name="nomeingrediente" required>
              </div>
              <div class="col">
                <div class="input-group">
                  <input type="number" class="form-control" [(ngModel)]="ingrediente.quantita" placeholder="Quantità" min="0" name="quantitaingrediente" required>
                  <select class="form-control bg-light" [(ngModel)]="ingrediente.tipoQuantita" name="tipoquantitaingrediente" required>
                    <option value="grammi">grammi</option>
                    <option value="chilogrammi">kg</option>
                    <option value="litri">litri</option>
                    <option value="millilitri">ml</option>
                    <option value="cucchiai">cucchiai</option>
                    <option value="empty"></option>
                  </select>
                </div>
              </div>
              <div class="col-auto">
                <button type="button" class="btn btn-danger rounded-pill" (click)="rimuoviIngrediente(i)"><i class="bi bi-trash"></i> Rimuovi</button>
              </div>
            </div>
          </div>

          <div class="mb-3">
            <button type="button" class="btn btn-primary rounded-pill" (click)="aggiungiIngrediente()"><i class="bi bi-plus-lg"></i> Aggiungi Ingrediente</button>
          </div>

          <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-success rounded-pill" [disabled]="!form.valid || formSubmitted"><i class="bi bi-save"></i> Salva Ricetta</button>
          </div>

          <div class="alert alert-success mt-3" *ngIf="formSubmitted">
            {{ successMessage }}
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
