<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">SiwFood</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Mostra solo se l'utente è autenticato -->
    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown" *ngIf="authService.isAuthenticatedUser()">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle align-items-center" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Ciao, {{username}}!&nbsp;<i class="bi bi-person"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a class="dropdown-item d-flex justify-content-between align-items-center" href="/profile">Visualizza Profilo &nbsp; <i class="bi bi-briefcase-fill"></i></a></li>
            <li><a class="dropdown-item d-flex justify-content-between align-items-center" href="#">Le mie Ricette <i class="bi bi-escape"></i></a></li>
            <li><a class="dropdown-item d-flex justify-content-between align-items-center" href="#" (click)="logout()">Esci <i class="bi bi-arrow-right-circle"></i></a></li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- Mostra solo se l'utente non è autenticato -->
    <a class="btn btn-dark me-md-3 btn-sm" *ngIf="!authService.isAuthenticatedUser()" href="http://localhost:4200/login">Accedi</a>
  </div>
</nav>
<router-outlet></router-outlet>
