<section class="vh-100" style="background-color: #fff3cf;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img [src]="imageUrl" *ngIf="imageUrl" class="form-image" alt="login form"/>
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
                <form>
                  <div class="d-flex align-items-center mb-3 pb-1">
                    <span class="h1 fw-bold mb-0">SiwFood</span>
                  </div>

                  <h5 class="fw-normal">Accedi al tuo account</h5>
                  <div class="space"></div>
                  <div class="form-outline">
                    <label class="form-label" for="inputEmail">
                      <i class="bi bi-envelope-fill"></i>Indirizzo E-mail
                    </label>
                    <input type="email" id="inputEmail" class="form-control form-control-lg" [(ngModel)]="username" name="email" placeholder="E-mail" autofocus=""/>
                  </div>
                  <div class="form-outline">
                    <label class="form-label" for="inputPassword">
                      <i class="bi bi-lock-fill"></i>Password
                    </label>
                    <input type="password" id="inputPassword" class="form-control form-control-lg" [(ngModel)]="password" name="password" placeholder="Password" required=""/>
                  </div>
                  <div class="space"></div>
                  <div class="form-actions">
                    <div class="links">
                      <p class="mb-0" style="color: #393f81;">Non hai un account? <a href="register" style="color: #393f81;">Registrati qui</a></p>
                    </div>
                  </div>
                  <div class="space"></div>
                  <div class="pt-1 mb-4">
                    <button data-mdb-button-init data-mdb-ripple-init class="btn btn-dark btn-lg btn-block" type="button" (click)="login()">Accedi</button>
                  </div>

                </form>

                <div *ngIf="success && requested"class="alert alert-success d-flex align-items-center" role="alert" [ngClass]="{'animate__animated animate__fadeIn': success && requested}">
                  <div>
                    <i class="bi bi-check-circle"></i> &nbsp; Login effettuato con successo! :)
                  </div>
                </div>

                <div *ngIf="!success && requested && errorMessage" class="alert alert-danger d-flex align-items-center" role="alert" [ngClass]="{'animate__animated animate__fadeIn': !success && requested}">
                  <div>
                    <i class="bi bi-exclamation-circle"></i> &nbsp; {{ errorMessage }}
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
